main, section {
    margin: 30px 500px;
}

textarea {
    height: 80px;
}

.notes {
    display: flex;
    gap: 10px;
    justify-content: start;
    flex-wrap: wrap;
}

.card {
    min-width: 18rem;
    margin-top: 20px;
}
